*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    overflow-x: hidden;
    margin: 1rem;
    background-color: #242424;
    color: #444242;
}

.container{
    background-color: aliceblue;
    padding: 1rem;
    transform-origin: top left;
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
}

.container.show-nav{
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;

}